<div>
  <div class="row">
    <div class="col text-center"><p class="desc__header">Дополнительные подписанты</p></div>
  </div>
  <div class="row desc">
    <div class="col text-center"><p class="desc__text">Вы можете добавить  лиц, уполномоченных подписывать ведомости, реестры и иные документы в рамках зарплатного договора</p></div>
  </div>
  <div class="row justify-content-around">
    <div class="col-md-2 col-3">
      <button class="btn btn-primary w-100 button button_color_blue" type="button" ng-click="ctrl.addButton();">Добавить +</button>
    </div>
  </div>
  <div class="row justify-content-around nuv-but">
    <div class="col-sm-3 col-5">
      <button class="btn btn-primary w-100 button button_color_grey" type="button" ng-click="ctrl.goBack();">Назад</button>
    </div>
    <div class="col-sm-3 col-5">
      <button class="btn btn-primary w-100 button button_color_blue" type="button" ng-click="ctrl.goNext();">Далее</button>
    </div>
  </div>
</div>