<div>
  <div class="row desc">
    <div class="col text-center"><p class="desc__text">Кто будет подписывать зарплатный договор?</p></div>
  </div>
  <div class="row justify-content-between">
    <div class="col-5">
      <button class="btn btn-primary desc__text w-100 button button_color_blue" type="button" ng-click="ctrl.button1();">Лицо, имеющее право подписи без Доверенности</button>
    </div>
    <div class="col-5">
      <button class="btn btn-primary desc__text w-100 button button_color_blue" type="button" ng-click="ctrl.button2();">Подписант с правом подписи по доверенности</button>
    </div>
  </div>
  <div class="row justify-content-start nuv-but">
    <div class="col-3">
      <button class="btn btn-primary w-100 button button_color_grey" type="button" ng-click="ctrl.goBack();">Назад</button>
    </div>
  </div>
</div>