<div>
  <div class="row desc">
    <div class="col text-center"><p class="desc__text">Просмотрите форму зарплатного договора</p></div>
  </div>

  <div style="margin-bottom: 15px;" class="row justify-content-center">
    <div class="col-10">
      <div style="height: 400px; background-color: #bcbebf;"></div>
    </div>
  </div>
  <div class="row desc">
    <div class="col text-center"><p class="desc__text">Все поля заполнены правильно?</p></div>
  </div>

  <div class="row justify-content-around">
    <div class="col-md-2 col-3">
      <button class="btn btn-primary w-100 button button_color_blue" type="button" ng-click="ctrl.buttonYES();">Да</button>
    </div>
    <div class="col-md-2 col-3">
      <button class="btn btn-primary w-100 button button_color_blue" type="button" ng-click="ctrl.buttonNO();">Нет</button>
    </div>
  </div>
  <div class="row justify-content-center nuv-but">
    <div class="col-sm-3 col-5">
      <button class="btn btn-primary w-100 button button_color_blue" type="button" ng-click="ctrl.goBack();">Назад</button>
    </div>
  </div>
</div>