<div>
  <div class="row desc">
    <div class="col text-center"><p class="desc__text">По вашим данным сформированы документы для заключения зарплатного договора. Предлагаем Вам ознакомиться с его текстом</p></div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-5 col-8">
      <button style="font-size: 28px;"class="btn btn-primary button button_color_blue" type="button" ng-click="ctrl.toReview();">Ознакомиться с заполненой формой зарплатного договора</button>
    </div>
  </div>

  <div class="row desc">
    <div class="col text-center"><p class="desc__text">Все поля заполнены правильно?</p></div>
  </div>
  <div class="row justify-content-between nuv-but">
    <div class="col-sm-3 col-5">
      <button class="btn btn-primary w-100 button button_color_blue" type="button" ng-click="ctrl.buttonNO();">Нет</button>
    </div>
    <div class="col-sm-3 col-5">
      <button class="btn btn-primary w-100 button button_color_blue" type="button" ng-click="ctrl.buttonYes();">Да</button>
    </div>
  </div>
  <div class="row justify-content-start nuv-but">
    <div class="col-sm-3 col-5">
      <button class="btn btn-primary w-100 button button_color_grey" type="button" ng-click="ctrl.goBack();">Назад</button>
    </div>
  </div>
</div>