<div>
  <div class="row desc">
    <div class="col text-center"><p class="desc__text">Проверьте правильность найденой информации:</p></div>
  </div>
  <div class="row justify-content-center field field_mg_sm">
    <div class="col-sm-10 col"><input class="form-control" ng-model="ctrl.data.fullName" type="text"></div>
    <div class="w-100"></div>
    <div class="col-sm-10 col text-center"><label class="form-label field__label">Полное наименование организации</label></div>
  </div>

  <div class="row justify-content-center field field_mg_sm">
    <div class="col-sm-10 col"><input class="form-control" ng-model="ctrl.data.shortName" type="text"></div>
    <div class="w-100"></div>
    <div class="col-sm-10 col text-center"><label class="form-label field__label">Краткое наименование организации</label></div>
  </div>

  <div class="row justify-content-center field field_mg_sm">
    <div class="col-sm-10 col"><input class="form-control" ng-model="ctrl.data.urAdress" type="text"></div>
    <div class="w-100"></div>
    <div class="col-sm-10 col text-center"><label class="form-label field__label">Юридический адрес организации</label></div>
  </div>

  <div class="row justify-content-center field field_mg_sm">
    <div class="col-sm-10 col"><input class="form-control" ng-model="ctrl.data.factAdress" type="text"></div>
    <div class="w-100"></div>
    <div class="col-sm-10 col text-center"><label class="form-label field__label">Фактический адрес организации</label></div>
  </div>

  <div class="row justify-content-center field field_mg_sm">
    <div class="col-sm-10 col"><input class="form-control" ng-model="ctrl.data.regInfo" type="text"></div>
    <div class="w-100"></div>
    <div class="col-sm-10 col text-center"><label class="form-label field__label">Сведения о регистрации</label></div>
  </div>
  <div class="row justify-content-center field field_mg_sm">
    <div class="col-sm-10 col"><input class="form-control" ng-model="ctrl.data.signerWithoutDel" type="text"></div>
    <div class="w-100"></div>
    <div class="col-sm-10 col text-center"><label class="form-label field__label">Сведения о лице, имеющего право подписи без Доверенности</label></div>
  </div>
  <div class="row justify-content-center field field_mg_sm">
    <div class="col-sm-3 col"><input class="form-control" ng-model="ctrl.data.inn" type="text"></div>
    <div class="col-sm-4 col"><input class="form-control" ng-model="ctrl.data.ogrn" type="text"></div>
    <div class="col-sm-3 col"><input class="form-control" ng-model="ctrl.data.okpo" type="text"></div>
    <div class="w-100"></div>
    <div class="col-sm-3 col text-center"><label class="form-label field__label">ИНН</label></div>
    <div class="col-sm-4 col text-center"><label class="form-label field__label">ОГРН</label></div>
    <div class="col-sm-3 col text-center"><label class="form-label field__label">ОКПО</label></div>
  </div>

  <div class="row justify-content-around">
    <div class="col-3"><button type="button" class="btn btn-primary w-100 button button_color_grey" ng-click="ctrl.goBackStep();">Назад</button></div>
    <div class="col-3"><button type="button" class="btn btn-primary w-100 button button_color_blue" ng-click="ctrl.goNextStep();">Далее</button></div>
  </div>
</div>