<div>
  <div class="row desc">
    <div class="col text-center"><p class="desc__text">Поздравляем!</p></div>
    <div class="w-100"></div>
    <div class="col text-center"><p class="desc__text">Ваш зарплатный договор отправлен на предварительную проверку в Банк!</p></div>
    <div class="w-100"></div>
    <div class="col text-center"><p class="desc__text">Ваш личный менеджер свяжется с вами!</p></div>
  </div>

  <div class="row justify-content-around nuv-but">
    <div class="col-sm-3 col-5">
      <button class="btn btn-primary w-100 button button_color_grey" type="button" ng-click="ctrl.goBack();">Назад</button>
    </div>
<!--    <div class="col-sm-3 col-5">-->
<!--      <button class="btn btn-primary w-100 button button_color_grey" type="button" ng-click="ctrl.goStart();">В начало</button>-->
<!--    </div>-->
    <div class="col-sm-3 col-5">
      <button class="btn btn-primary w-100 button button_color_blue" type="button" ng-click="ctrl.goMain();">На главную</button>
    </div>
  </div>
</div>