<div>
  <h2>Заключение зарплатного договора</h2>
  <p>Заполните анкету по Вашей организации. Необходимо ответить на несколько вопросов:</p>
  <input class="form-control"  type="number">
  <label class="form-label">Численность сотрудников в организации</label>
  <input class="form-control"  type="text">
  <label class="form-label">Вопросы из анкеты клиента</label>
  <input class="form-control"  type="text">
  <label class="form-label">Контактная информация</label>
  <input class="form-control"  type="text">
  <label class="form-label">Фактический адрес установки Зарплатного модуля</label>
  <input class="form-control"  type="text">
  <label class="form-label">Контактный мобильный телефон</label>
  <input class="form-control"  type="text">
  <label class="form-label">И т.д.</label>
  <div class="row">
    <div class="col"><button type="button" class="btn btn-primary button button_color_blue">Назад</button></div>
    <div class="col"><button type="button" class="btn btn-primary button button_color_blue">Далее</button></div>
  </div>
</div>