<div>
  <div class="row desc">
    <div class="col text-center"><p class="desc__text">Всё готово!</p></div>
    <div class="w-100"></div>
    <div class="col text-center"><p class="desc__text">Теперь Вы сможете отправить документы в Банк, и Ваш личный менеджер сразу начнёт работать с ними.</p></div>
  </div>
  <div style="margin-bottom: 15px;"class="row desc">
    <div class="col text-center"><p class="desc__text">Пожалуйста, сообщите нам, как с Вами связаться.</p></div>
  </div>
  
  <div class="row justify-content-center">
    <div style="margin-bottom: 55px;" class="col-5"><button type="button" class="btn btn-primary w-100 button_color_blue" ng-click="ctrl.leaveContacts();">Сообщить контактные данные</button></div>

    <div class="w-100"></div>
    <div style="margin-bottom: 15px;" class="col-5">
      <button type="button" class="btn btn-primary w-100 button_color_blue" ng-click="ctrl.downloadDocs();">Скачать договор</button>
    </div>
    <div class="w-100"></div>
    <div style="margin-bottom: 15px;" class="col-5"><button type="button" class="btn btn-primary w-100 button_color_blue" ng-click="ctrl.sendDocs();">Отправить документы в Банк</button></div>
  </div>

  <div class="row justify-content-start nuv-but">
    <div class="col-sm-3 col-5">
      <button class="btn btn-primary w-100 button button_color_grey" type="button" ng-click="ctrl.goBack();">Назад</button>
    </div>
  </div>
</div>